---
import Twitch from "@/icons/twitch.astro";
---

<section class="flex flex-col font-medium text-primary gap-y-10 my-32">
  <div class="flex justify-center items-center">
    <a
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-purple-800 hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <Twitch />
    </a>
  </div>

  <div
    class="grid uppercase text-center gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1.5fr_1fr]"
  >
    <article
      class="order-2 md:order-1 flex flex-1 justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 md:border-y-2 border-primary"
    >
      <h5 class="w-56 text-center">
        Presentación, Pesaje, Entrevista y Cara a Cara
      </h5>
    </article>

    <article
      class="order-1 md:order-2 flex justify-center items-center text-4xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary"
    >
      <h4>
        <a
          class="hover:text-purple-800 transition hover:scale-105 inline-block hover:opacity-70"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="noopener noreferrer"
        >
          Síguelo en directo twitch.tv/ibai
        </a>
      </h4>
    </article>

    <article
      class="order-3 justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary"
    >
      <h5>Con la presencia de los boxeadores y boxeadoras</h5>
    </article>
  </div>
</section>
